<div class="body">
  <mat-card id="card">
    <mat-card-content class="card-front">
      <div class="bandeira">
        <img src="https://w7.pngwing.com/pngs/962/794/png-transparent-mastercard-credit-card-mastercard-logo-mastercard-logo-love-text-heart-thumbnail.png" >
      </div>

      <div class="card-number">
        <img class="chip" src="https://cdn-icons-png.flaticon.com/512/3877/3877368.png">
        <p>numero : {{ formatarNumero(forms.get("cardNumber")?.value)}}</p>
      </div>

      <div class="card-name-val">
        <p>name: {{ forms.get("nickName")?.value }}</p>
        <p>Val: {{ forms.get("vencimento")?.value }}</p>
      </div>


    </mat-card-content>


    <mat-card-content class="card-back">
      <p class="description-top">t is a long established fact that a reader</p>
      <div class="barra-preta"></div>
      <div class="cvc">
           <p>CVC: {{ forms.get("cvc")?.value }}</p>
      </div>
      <p class="description-bottom">
        t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      </p>



    </mat-card-content>


  </mat-card>

  <form class="content-form" [formGroup]="forms">


<div class="row-1">

  <mat-form-field>
    <input id="card-input" matInput type="text" placeholder="Card Number" formControlName="cardNumber" maxlength="16" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Nick Name" formControlName="nickName" maxlength="16"/>
  </mat-form-field>


</div>

<div class="row-2">

  <mat-form-field>
    <input type="text" matInput placeholder="Vencimento" formControlName="vencimento" maxlength="4" />

  </mat-form-field>


  <mat-form-field>
    <input type="text" matInput placeholder="CVC" id="cvc" (click)="virar()"  formControlName="cvc" maxlength="3"/>

  </mat-form-field>


</div>


    <button>Submit</button>
  </form>

</div>
