<div class="card-div">
  <label for="">Nome do títular</label>


  <mat-form-field [formGroup]="formGroup">
    <input
    #cardName
      id="name-card"
      type="text"
      matInput
      required
      [placeholder]="placeholder.name"
      formControlName="nickName"
      maxlength="16"
      [ngClass]="{ 'preloaded-value': formControls['nickName'].value }"
    />

    <mat-error *ngIf="formControls['nickName'].hasError('required')">
     Campo obrigatório
    </mat-error>
    <mat-error *ngIf="formControls['nickName'].hasError('minlength')">
      Tem que ter no mínimo 3 caracteres
    </mat-error>
  </mat-form-field>
</div>
